/* tag defaults */
html {
    font-size: 14px;
    padding: 0px;
    margin: 0px;
}

header {
    width: 100%;
    height: 60px;
    margin: 0px !important;
    padding: 0px !important;
    color: #ffffff !important;
    background-size: inherit;
}

body {
    font-family: "Tahoma";
    height: 100%;
    background-color: #000000;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

h4 {
    font-size: 1.3em !important;
}

h5 {
    font-size: 1.2em !important;
    font-weight: bold;
}

/* body dom */

#container {
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#article {
    float: none;
    clear: both;
    width: 100%;
    height: calc(100% - 60px);
    overflow: auto;
    position: relative;
    margin: 0px 0px 0px 0px;
}

#mapid {
    height: 100%;
}

/* list */
ul {
    column-count: 3;
    list-style-type: none;
}

li::before {
    position: relative;
    top: -2px;
    left: -12px;
    display: inline-block;
    width: 8px;
    height: 8px;
    content: '';
    border-radius: 100%;
    background: green;
}

/* fade out */

#fadeLayer {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.5;
    display: none;
    z-index: 3000;
}

img.thumbnail {
    border: 4px solid #ffffff;
    margin: 2em auto 2em auto;
    display: block;
    box-shadow: 2px 2px 2px rgb(0 0 0 / 60%);
}

img.normal {
    background: url("./image/icon_circle.svg");
    background-size: cover;
    float: left;
    padding: 4px !important;
    height: 32px !important;
    width: 32px !important;
    object-fit: contain;
}

img.attention {
    background: url("./image/icon_circle_attention.svg");
    background-size: cover;
    float: left;
    padding: 8px !important;
    height: 48px;
    width: 48px;
    object-fit: contain;
}

/*
.attention {
    display: flex;
    width: 24px;
    height: 24px;
    position: absolute;
    top: -28px;
    left: 12px;
}
*/

img.w100 {
    width: 100%;
}

/* Activity Modal Icon Size */
h4 img {
    height: 1.5em;
    margin-right: 0.3em;
}

h2.zoom {
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
}

.menu {
    color: white;
    margin: 2px 0px;
    background-color: rgba(0, 48, 0, 0.4);
    border: 0px;
    width: initial !important;
    height: 100%;
}

.pointer{
    cursor: pointer;
}

p {
    line-height: 1.5;
}

span {
    font-size: 1rem;
}

span.title {
    display: inline-block;
    font-size: 16px !important;
    font-weight: bold;
    color: black !important;
    padding: 0px 4px 0px 0px;
    margin: 0px 0px 0px 0px;
}

span.subtitle {
    display: inline-block;
    font-size: 10px !important;
    color: black !important;
    padding: 0px 0px 0px 0px;
}

span.icon {
    border-radius: 8px;
    margin-left: 2px;
    padding: 0px 2px;
    white-space: nowrap;
}

span.icon_normal {
    color: #ffffffee;
    background: rgba(0, 0, 0, 0.5);
}

span.icon_attention {
    color: #ffffff;
    background: rgba(0, 0, 0, 0.6);
}

/* マーカーのフォントサイズ選択 */
span.fs-10{
    font-size: 10px;
}

span.fs-12{
    font-size: 12px;
}

span.fs-14{
    font-size: 14px;
}

/* button for select way color */

.modal-dialog-fluid {
    max-width: inherit !important;
    max-height: 50% !important;
    width: 80% !important;
}

.modal-body {
    font-size: 14px !important;
    overflow-x: hidden;
}

.leaflet-div-icon {
    border: 0px !important;
}

input[type="search"] {
    font-size: 14px;
    display: inline-block;
    width: calc(180px - 4em);
}

/* for Grid.js */
th.gridjs-th {
    padding: 2px 4px !important;
    margin: 0px 8px !important;
}

td.gridjs-td {
    padding: 2px 4px !important;
    cursor: pointer !important;
}

tr:hover td {
    background-color: #d9efff !important;
}

tr.selected td {
    background-color: #d9efff !important;
}

/* spinner */

#list_spinner {
    position: absolute;
    margin: auto;
    left: 0px;
    z-index: 9999;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

.card-header, .card-body {
    padding: 0px !important;
}

.modal-title {
    height: 2rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bg-clear-old {
    width: 38px;
    height: 18px;
    background-position: 0px 0px, 8px 8px;
    background-size: 16px 16px;
    background-image: -webkit-linear-gradient(45deg, #eee 25%, transparent 25%, transparent 75%, #ccc 75%, #ccc 100%), -webkit-linear-gradient(45deg, #ccc 25%, white 25%, white 75%, #ccc 75%, #eee 100%);
    background-image: linear-gradient(45deg, #ccc 25%, transparent 25%, transparent 75%, #ccc 75%, #ccc 100%), linear-gradient(45deg, #ccc 25%, white 25%, white 75%, #ccc 75%, #ccc 100%);
}

.bg-clear {
    background: transparent url("./image/transparent.png") !important;
}

.leaflet-container a {
    color: initial !important;
}

.leaflet-touch .leaflet-control-layers-toggle {
    width: 30px !important;
    height: 30px !important;
}

.modal-dialog-fluid {
    max-width: inherit !important;
    width: 98% !important;
    margin-left: 8px !important;
}

.cursor-pointer {
    cursor: pointer;
}

h5[aria-expanded="false"]:before {
    content: '';
    display: inline-block;
    background-image: url(./image/arrow-right.svg);
    background-size: contain;
    width: 18px;
    height: 18px;
    margin-right: 0px;
    vertical-align: middle;
}

h5[aria-expanded="true"]:before {
    content: '';
    display: inline-block;
    background-image: url(./image/arrow-down.svg);
    background-size: contain;
    width: 18px;
    height: 18px;
    margin-right: 0px;
    vertical-align: middle;
}

@keyframes rotation {
    0% {
        transform: scale(1.0, 1.0) translate(0%, 0%);
    }

    15% {
        transform: scale(0.9, 0.9) translate(0%, 5%);
    }

    30% {
        transform: scale(1.3, 0.8) translate(0%, 10%);
    }

    50% {
        transform: scale(0.8, 1.3) translate(0%, -10%);
    }

    70% {
        transform: scale(1.1, 0.9) translate(0%, 5%);
    }

    100% {
        transform: scale(1.0, 1.0) translate(0%, 0%);
    }
}