.card-header, .card-body {
    padding: 0px !important;
}

.modal-title {
    height: 2rem;
}

.bg-clear-old {
    width: 38px;
    height: 18px;
    background-position: 0px 0px, 8px 8px;
    background-size: 16px 16px;
    background-image: -webkit-linear-gradient(45deg, #eee 25%, transparent 25%, transparent 75%, #ccc 75%, #ccc 100%), -webkit-linear-gradient(45deg, #ccc 25%, white 25%, white 75%, #ccc 75%, #eee 100%);
    background-image: linear-gradient(45deg, #ccc 25%, transparent 25%, transparent 75%, #ccc 75%, #ccc 100%), linear-gradient(45deg, #ccc 25%, white 25%, white 75%, #ccc 75%, #ccc 100%);
}

.bg-clear {
    background: transparent url("./image/transparent.png") !important;
}

.leaflet-container a{
    color: initial !important;
}

.leaflet-touch .leaflet-control-layers-toggle{
    width: 30px !important;
    height: 30px !important;
}

.modal-dialog-fluid {
    max-width: inherit !important;
    width: 98% !important;
    margin-left: 8px !important;
}

.cursor-pointer {
    cursor: pointer;
}

.attention {
    display: flex;
    width: 24px;
    height: 24px;
    position: absolute;
    top: -28px;
    left: 12px;
    animation: rotation 1.5s ease 0s 1 alternate none running;
    animation-iteration-count: infinite;
}

@keyframes rotation {
    0% {
        transform: scale(1.0, 1.0) translate(0%, 0%);
    }
    15% {
        transform: scale(0.9, 0.9) translate(0%, 5%);
    }
    30% {
        transform: scale(1.3, 0.8) translate(0%, 10%);
    }
    50% {
        transform: scale(0.8, 1.3) translate(0%, -10%);
    }
    70% {
        transform: scale(1.1, 0.9) translate(0%, 5%);
    }
    100% {
        transform: scale(1.0, 1.0) translate(0%, 0%);
    }
}

h5[aria-expanded="false"]:before {
    content: '';
    display: inline-block;
    background-image: url(./image/arrow-right.svg);
    background-size: contain;
    width: 18px;
    height: 18px;
    margin-right: 8px;
    vertical-align: middle;
}

h5[aria-expanded="true"]:before {
    content: '';
    display: inline-block;
    background-image: url(./image/arrow-down.svg);
    background-size: contain;
    width: 18px;
    height: 18px;
    margin-right: 8px;
    vertical-align: middle;
}
