html {
	font-size: 14px;
	padding: 0px;
	margin: 0px;
}

header {
	width: 100%;
	height: 60px;
	margin: 0px !important;
	padding: 0px !important;
	color: #ffffff !important;
	background-image: url('./image/bg1.png');
	background-size: inherit;
}

body {
	font-family: "Tahoma";
	height: 100%;
	background-color: #000000;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}

#container {
	flex-direction: column;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

#article {
	float: none;
	clear: both;
	width: 100%;
	height: calc(100% - 60px);
	overflow: auto;
	position: relative;
	margin: 0px 0px 0px 0px;
}

/* OSM Map area */

#mapid {
	height: 100%;
}

/* fade out */

#fadeLayer {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: 0.5;
	display: none;
	z-index: 3000;
}

img {
	float: left;
	margin: 0px;
	object-fit: contain;
}

img.w100 {
	width: 100%;
}

h4 img {
	height: 1.5em;
	margin-right: 0.3em;
}

h2.zoom {
	font-size: 16px;
	color: rgba(0, 0, 0, 1);
	background-color: rgba(255, 255, 255, 0.5);
	padding: 10px;
}

div.search {
	color: white;
	height: 44px;
	border: 0px;
}

.menu {
	color: white;
	margin: 5px 0px;
	background-color: rgba(0, 48, 0, 0.4);
	border: 0px;
	width: initial !important;
}

p {
	line-height: 1.5;
}

span.title {
	display: inline-block;
	font-size: 16px !important;
	font-weight: bold;
	color: black !important;
	padding: 0px 4px 0px 0px;
	margin: 0px 0px 0px 0px;
}

span.subtitle {
	display: inline-block;
	font-size: 10px !important;
	color: black !important;
	padding: 0px 0px 0px 0px;
}

span.icon {
	margin-left: 2px;
	padding: 0px 2px;
	white-space: nowrap;
	background-color: white;
}

/* button for select way color */

.modal-dialog-fluid {
	max-width: inherit !important;
	max-height: 50% !important;
	width: 80% !important;
}

.modal-body {
	font-size: 14px !important;
	overflow-x: hidden;
}

.leaflet-div-icon {
	border: 0px !important;
}

input[type="search"] {
	font-size: 14px;
	display: inline-block;
	width: calc(180px - 4em);
}

table.dataTable tbody>tr.selected, table.dataTable tbody>tr>.selected {
	background-color: #0274d880 !important;
}

.area_mask {
	padding: 0px;
	margin: 0px;
	position: absolute;
	background: rgba(0, 0, 0, 0.4);
	z-index: 799;
}

.list {
	max-width: 120px;
	max-height: 120px;
}